
@{
    Layout = "_Layout";
}
@using SweetAndSavory.Models
@model SweetAndSavory.Models.Treat

<div class="container">
    <h1>Treat Details</h1>
    <h3>@Html.DisplayNameFor(model => model.TreatName) @Html.DisplayFor(model => model.TreatName)</h3>
</div>
<hr />
<div class="container">
@if(@Model.JoinEntities.Count == 0)
{
  <p>There are no Flavors Associated with this Treat.</p>
}
else
{
  <h4>The following Treats are available in this Flavor:</h4>
  <ul>
  @foreach(FlavorTreat join in Model.JoinEntities)
  {
    <li>@join.Flavor.FlavorName</li>
  }
  </ul>
}
</div>
<div class="link-container">
    <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
    <p>@Html.ActionLink("Add Flavor to Treat", "AddFlavor", new {id = Model.TreatId})</p>
    <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId})</p>
    <p>@Html.ActionLink("Back to all Treats", "Index")</p>
    
    @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-secondary" })
</div>